.track{
  display: flex;
  justify-content: center;
  .arrow{
    height: 100px;
    width: auto;
    background-color: #61dafb;
  }
  .homer{
    width: auto;
    height: 100px;
    animation: show-result 1s forwards;
  }
  .result{
    height: 100px;
    width: auto;
    animation: show-result 1s forwards;
  }
}
@keyframes show-result {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}



