@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
body{
  background-color: #9ce7fc;
  font-family: 'PT Sans Caption', sans-serif;
}
.wrapper {
  max-width: 980px;
  margin: 0 auto;
  background-color: #61dafb;
  height: 100vh;
}
