.playground {
  background-color: #61dafb;
  margin: 0 auto;
  padding: 2px;

  div {
    display: contents;
  }

  .rowCells {
    display: flex;
  }

  .cell {
    position: relative;
    width: 100%;
    background-color: gray;
    border-radius: 5px;
    margin: 2px;

    &:before {
      content: ' ';
      display: block;
      width: 100%;
      padding-top: 100%;
    }

    .cellImg {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: inherit;
      height: auto;
      animation: show-btnImg 1s forwards;
    }
  }
}

.btnStart {
  display: flex;
  justify-content: center;
  padding: 0 5px;


  button {
    border-radius: 10px;
    font-size: 30px;
    border-color: #069cc6;
    animation: show-btnImg 1s forwards;
    background-color: #07b0df;
    padding: 0 3px;

    &:hover {
      background-color: #069cc6;
    }
  }
}

@keyframes show-btnImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .btnStart button{
    font-size: 20px;
  }
}




