.playground {
  background-color: #61dafb;
  margin: 0 auto;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  .cell {
    content: '';
    background-color: gray;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    margin: 2px;
    .cellImg {
      max-width: 100%;
      height: auto;
      animation: show-btnImg 1s forwards;
    }
  }

}

@keyframes show-btnImg {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}



