.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  //transition: 0.2s;


  .modal_content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    border: 3px solid black;
    p{
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      font-size: x-large;
    }
    li{
      margin-bottom: 5px;
    }
    button{
      display: flex;
      margin: 0 auto;
    }
  }
}
.activeModal{
  opacity: 1;
  pointer-events: auto;
}