.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;

  .modal_content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    border: 3px solid black;
    h2{
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      font-size: xx-large;
    }
    li{
      margin-bottom: 5px;
    }
    button{
      display: flex;
      margin: 0 auto;
    }
  }
}
.activeModal{
  opacity: 1;
  pointer-events: auto;
}
.select{
  display: flex;
  margin: 20px;
  p{
    margin-right: 10px;
    font-size: x-large;
  }
}
select{
  font-size: larger;
  height: max-content;
}
#deleteStatistic{
  display: flex;
  justify-content: end;
  cursor: default;
  color: #069cc6;
  margin-bottom: 10px;
  &:hover{
    color: #07b0df;
    text-decoration: underline #07b0df;
  }
}
.btnSettings{
  display: flex;
  justify-content: space-evenly;
}
