.title {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 40px;
  height: 60px;

}

nav {
  background-color: #069cc6;
  color: aliceblue;

  :first-child {
    display: flex;
  }

  .li_margin {
    margin-right: 20px;
  }

  .nav_ul {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    padding: 5px 10px;
    cursor: default;
  }

  li {
    padding: 5px 10px;
    border: 1px solid #61dafb;
    border-radius: 10px;

    &:hover {
      background-color: #07b0df;
    }
  }
}

@media screen and (max-width: 500px) and (min-width: 421px) {
  nav .nav_ul {
    font-weight: 350;
    font-size: 25px;
    padding: 4px 8px;
  }
}

@media screen and (max-width: 420px) and (min-width: 360px) {
  nav .nav_ul {
    font-weight: 300;
    font-size: 20px;
    padding: 3px 6px;
  }
}

@media screen and (max-width: 359px){
  nav .nav_ul {
    font-weight: 260;
    font-size: 17px;
    padding: 2px 4px;
  }
}